#tweet {
  margin-top:20px
}

#newsletterform input#email-address {float:left;}

#more-info h3 {
  margin: 23px 0 8px;
}

#more-info {
  margin: 49px 0 0;
  float:left;
}

.to-top {
  float: right!important;
  width:30px;
  margin:-15px 0 0 0
}

.to-top span {
  float: right;
  margin: -14px 0 0 3px;
}

.copyright {
  margin: 12px auto;
}

#slides {
  height: 495px;
  margin: 0;
  z-index: 100;
}