# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName partners-in-missions.org
AuthUserFile /home/p25lh2gq/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/p25lh2gq/public_html/_vti_pvt/service.grp
